[Unit]
Description=Pi Dash
After=network.target

[Service]
ExecStart=/home/pi/dash/dash.sh
WorkingDirectory=/home/pi/dash
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
